.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(145, 228, 211);
  border: 1px solid rgb(2, 68, 84);
  border-radius: 25px;
  width: 200px;
  height: 200px;
  margin: 15px;
}

form {
  margin-top: 50px;
}

form div {
  margin: 10px;
}

form label {
  display: inline-block;
  width: 100px;
}

form input {
  width: 200px;
}

form button {
  margin: 10px;
}
